output_directory = 'demo-chunked'
title = 'Fluendo Demo Content'
fragment_duration = 2
is_live = False
chunked = True
base_url = None
overlay_stream_desc = True
overlay_timestamps = True
video_streams = [
    VideoOutputStream ('h264_low', 'H264', 500, 640, 480),
    VideoOutputStream ('h264_mid', 'H264', 1000, 1280, 720),
    VideoOutputStream ('h264_high', 'H264', 2000, 1920, 1080),
]
audio_streams = [
    AudioOutputStream ('aac', 'AAC', 128),
]
